.container-header {
    display: flex;
    justify-content: space-between;
    background: $color-1;
    align-items: center;

    img, h1, h2 {
        margin: 15px 20px;
    }

    img {
        width: 30px;
        height: 30px;
    }

    h1 {
        color: $color-3;
    }

    h2 {
        color: $color-3;
    }

}